body {
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container {
  width: 300px;
  border: 1px solid lightgrey;
}
.display {
  height: 100px;
  width: 100%;
  padding: 1px;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.display-1 {
  border: 1px solid gray;
  height: 35px;
  font-size: 20px;
  overflow: hidden;
}
.display-2 {
  border: 1px solid gray;
  height: 35px;
  font-size: 20px;
  overflow: hidden;
}
.result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px;
  gap: 10px;
}
.button {
  border: 1px solid black;
  display: inline-block;
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}
.button.num {
  background-color: #e1e1e1e1;
}
.button:hover {
  color: lightslategray;
}
.equal {
  grid-row: span 4;
  background-color: blue;
  height: 190px;
}
